body{
    font-family: 'Roboto Slab', serif;
}

img.logo{
	width: 50%;
}
@media(max-width: 767px){
	img.logo{
		width: 20%;
		position: absolute;
		top:2px;
	}
}
.box-area h3{
	text-align: left;
}
.box-area p{
	text-align: left;
}
.box-area{
	margin-bottom: 20px;
}
.section-title h3{
	text-transform: uppercase;
}
.gallery-1 h3{
	text-align: center;
	text-transform: uppercase;
}
#sub-footer{

}
.gray-bg .container h3{
	margin-top: 0;
	padding-top: 0;
}

p.powered{
	float: right;
	color: gray;
}
.power-img{
	width: 5%;
	position: absolute;
	right: 5px;
	bottom: 0px;
}

@media(max-width: 767px){
	p.powered{
		color: gray;
		position: absolute;
		left: 50px;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		bottom: -45px;
		text-align: center;
		display: inline;
		width: 170px;
	}
	.power-img{
		width: 10%;
		position: absolute;
		left: 100px;
		right: 0;
		margin-right: auto;
		margin-left: auto;
		bottom: -40px;
	}
}
@media(min-width: 768px) and (max-width: 1199px){
	.power-img{
		width: 5%;
		position: absolute;
		right: 0;
		margin-right: auto;
		margin-left: auto;
		bottom: -20px;
	}
}
.fix{
	background-color: black;
	opacity: .8;
	position: absolute;
	left: 0;
	text-align: center;
}
.fix li{
	list-style-type: none;
}
.copyright p{
	text-align: left;
}
.container h3{
	font-family: 'Roboto Slab', serif;
}
a.footer-logo{
	margin-left: 70px;
}
.flex-caption h3{
	font-family: 'Roboto Slab', serif;
}
.flex-caption p{
	font-family: 'Roboto Slab', serif;
}
h2.aligncenter{
	font-family: 'Roboto Slab', serif;
}

.row{
	position: relative;
}
.scrolldown{
    position:absolute;
    width:32px;
    height:32px;
    top:0px;
    left:20px;
    background: #383b3b;
}

a.scrolldown {
	outline:0;
	text-align: center;
}

a.scrolldown:hover,a.scrolldown:active,a.scrolldown:focus {
	opacity:1;
	text-decoration:none;
}
a.scrolldown i {
	margin-top: 10px;
	color: #fff;
}
a.scrolldown i:hover {
	text-decoration:none;
}

@media(max-width: 767px){
	.footer-logo img{
		width: 20%;
		position: absolute;
		left: 0;
		right: 0;
		top:50px;
		margin-left: auto;
		margin-right: auto;
	}
}